/* popup.css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté encima de otros elementos */
}

.popup-content {
    background: white;
    padding: 2px;
    border-radius: 4px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    margin-left: 5px;
    padding: 5px;
    width: 500px;
}

button {
    padding: 5px 10px;
    margin-top: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-group > div {
    display: flex;
    align-items: normal;
    width: 20%; /* Esto asegurará que 4 elementos ocupen una fila completa */
    box-sizing: border-box; /* Para asegurar que el padding y el border se incluyan en el ancho */
    padding: 5px;
}

.checkbox-group label {
    margin-left: 5px; /* Espacio entre el checkbox y su etiqueta */
}
